<%- include('../partials/header.ejs', {pageTitle: "All recipes"}) %>
    <h1>Here are all of my recipes</h1>
    <input type="text" id="searchText">
    <a href="/recipes" id="link">
        <button id="searchSubmit">Search by name</button>
    </a>
    <% for(let i = 0; i < recipes.length; i++) { %>
        <a href='recipes/<%= recipes[i]._id %>'>
            <h2>Name: <%= recipes[i].recipes_name %></h2>
        </a>
            <h3>Ingredients: <%= recipes[i].ingredients %></h3>
            <h3>Prep-time: $<%= recipes[i].prep_time %></h3>
            <h2>Cooking-method: <%= recipe.cooking_method %></h2>
            <h3>Serves: $<%= recipes[i].serves %></h3>
        <hr>
    <% } %>
<%- include('../partials/footer.ejs') %>

//this is the page for ALL Recipes!!