<%- include('./partials/header.ejs', {pageTitle: "Recipe"}) %>
    <h2>Cuisine: <%= recipe.cuisine %></h2>
    <img src="<%= recipe.image %>">
    <h1>Name: <%= recipe.recipe_name %></h1>
    <h2>Ingredients: <%= recipe.ingredients %></h2>
    <h2>Prep-time: <%= recipe.prep_time %></h2>
    <h2>Serves: <%= recipe.serves %></h2>
<%- include('./partials/footer.ejs') %>