<%- include('../partials/header.ejs', {pageTitle: "Edit " + recipe.recipe_name}) %>
<main> 
    <h1>Edit the recipe <%= recipe.name %> by <%= recipe.ingredients %></h1>
    <form method="POST" action="/recipes/<%= recipe._id %>?_method=PUT">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%=recipe.recipe_name%>" />
        <br>
        <label for="ingredients">Ingredients:</label>
        <textarea type="text" name="ingredients" id="ingredients"  value=<%= recipe.ingredients %>></textarea>
        <br>
        <label for="prep-time">Prep-time: </label>
        <input type="text" name="prep-time" id="prep_time"  value=<%= recipe.prep_time %>>
        <br>
        <label for="cooking-method">Cooking-method: </label>
        <textarea type="text" name="cooking-method" id="cooking_method"  value=<%= recipe.cooking_method %>></textarea>
        <br>
        <label for="serves">Serves: </label>
        <input type="text" name="serves" id="serves"  value=<%= recipe.serves %>>
        <br>
        <input type="submit" value="Edit <%= recipe.recipe_name %>">
    </form>
</main> 
</body>
</html>